      body {
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Prevent horizontal scroll */
      }

      nav {
        background-color: #f1f1f1;
        height: 90px;
        width: 1500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3%;
        border-radius: 50px;
        margin-bottom: 50px;
        margin-top: 20px;
        z-index: -1;
      }

      .logo-container {
        display: flex;
        align-items: center;
      }

      .company-name {
        margin-left: 10px;
        font-size: 18px;
        font-weight: bold;
      }

      .links {
        display: flex;
        align-items: center;
      }

      .links a {
        margin-left: 10px;
        text-decoration: none;
        color: #000;
        transition: color 0.3s;
      }

      .links a:hover {
        color: rgb(18, 180, 180);
        font-size: 1.2em;
        transform: scale(1.1);
      }

      #background-video {
        position: fixed;
        top: 90px;
        left: 0;
        width: 100%;
        height: calc(100vh - 90px); /* Adjust height based on navigation bar height */
        object-fit: cover;
        z-index: -1;
      }

      /* Large devices (desktops, 1200px and up) */
      @media (min-width: 1500px) { 
        nav {
          width: 1500px;
        }
        .links a {
          font-size: 1em;
        }
      }

      /* Medium devices (tablets, 768px and up) */
      @media (min-width: 600px) and (max-width: 1499px) { 
        nav {
          width: 600px;
        }
        .links a {
          font-size: 0.8em;
        }
      }

      /* Small devices (landscape phones, 599px and down) */
      @media (max-width: 599px) { 
        nav {
          width: 100%;
          flex-direction: column;
          height: auto;
        }

        .logo-container, .links {
          width: 100%;
          justify-content: center;
        }
        .links a {
          font-size: 0.6em;
        }
      }